{% extends 'base.html' %}

{% load static %}

{% block title %}About Me{% endblock title %}

{% block content %}

    <section class="about-section center-row">

        <div class="about-image-container center-row">
            <img src="{% static './img/selfie.jpg' %}" alt="logo">
        </div>

        <div class="about-description-container center-column">
            <h1>My Roll as a Developer</h1>
            <h2>Robert Torres</h2>
            <p>As an aspiring developer, I have cultivated a solid foundation in programming through hands-on experience and a commitment to continuous learning. Proficient in languages like JavaScript and Python, I enjoy building web applications and exploring new frameworks. My personal projects, ranging from simple websites to more complex applications, showcase my ability to translate ideas into functional code. I take pride in my problem-solving skills, which allow me to navigate challenges and implement effective solutions, all while keeping user experience at the forefront of my design process.

            In addition to my technical skills, I am an effective collaborator who thrives in team environments. I value open communication and believe that sharing ideas leads to the best outcomes. I am always eager to learn from others and contribute my perspective, whether through pair programming or group brainstorming sessions. As I continue to develop my skill set, I am particularly interested in expanding my knowledge of full-stack development and exploring emerging technologies. My goal is to create impactful applications that not only meet user needs but also drive innovation in the tech landscape
            </p>

            <div class="skills-container center-column">
                <h2>Skills</h2>
                <div class="skills-list center-row"> 
                    <label class="text-label">Html</label>
                    <label class="text-label">Python</label>
                    <label class="text-label">React</label>
                    <label class="text-label">Javascript</label>
                    <label class="text-label">API's</label>
                    <label class="text-label">Responsive Design</label>
                    <label class="text-label">User Experience</label>
                    <label class="text-label">Django</label>
                    <label class="text-label">Front END</label>
                    <label class="text-label">Back end</label>
                </div>
            </div>
        </div>

    </section>




</body>
</html>
{% endblock content %}