{% extends 'base.html' %}

{% block title %}Experiences{% endblock title %}
{% load static %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experiences</h2>
    <div class="experience-list center-row">

        <div class="experience-card">
            <a href="https://github.com" target="_blank">
                
                <p>School name</p>
                <p>Course name</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente aperiam non repellat a, eos veniam, consequuntur ratione quod magni ut placeat illum fugit adipisci? Ipsa facere blanditiis fugit? Illo, a?</p>
                <p>Month</p>

                <div class="experience-skills">
                    <label class="text-label">Skill 1</label>
                    <label class="text-label">Skill 2</label>
                    <label class="text-label">Skill 3</label>
                    <label class="text-label">Skill 4</label>
                    <label class="text-label">Skill 5</label>
                </div>
            </a>
        </div>
        
        <div class="experience-card">
            <a href="https://github.com" target="_blank">

                <p>School name</p>
                <p>Course name</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente aperiam non repellat a, eos veniam, consequuntur ratione quod magni ut placeat illum fugit adipisci? Ipsa facere blanditiis fugit? Illo, a?</p>
                <p>Month</p>

                <div class="experience-skills">
                    <label class="text-label">Skill 1</label>
                    <label class="text-label">Skill 2</label>
                    <label class="text-label">Skill 3</label>
                    <label class="text-label">Skill 4</label>
                    <label class="text-label">Skill 5</label>
                </div>
            </a>
        </div>

        <div class="experience-card">
            <a href="https://github.com" target="_blank">

                <p>School name</p>
                <p>Course name</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente aperiam non repellat a, eos veniam, consequuntur ratione quod magni ut placeat illum fugit adipisci? Ipsa facere blanditiis fugit? Illo, a?</p>
                <p>Month</p>

                <div class="experience-skills">
                    <label class="text-label">Skill 1</label>
                    <label class="text-label">Skill 2</label>
                    <label class="text-label">Skill 3</label>
                    <label class="text-label">Skill 4</label>
                    <label class="text-label">Skill 5</label>
                </div>
            </a>
        </div>
        
    </div>
</section>

{% endblock content %}